.home {
  flex-direction: column;
}

.gallery {
  width: 1240px;
  height: 829px;
  background-color: #f6f6f6; 
  border-radius: 25px;
  margin: 50px auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px; 
  justify-content: center; 
  box-sizing: border-box; 
}
