.home {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #F6F6F6;
  padding: 50px;
  border-radius: 25px;
  width: 85%;
  max-height: 829px;
  margin-top: 15px;
  margin-bottom: 30px;
  overflow-y: auto;
  position: relative;
}

@media screen and (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    background-color: transparent;
    gap: 20px;
    padding: 0px;
    width: 90%;
  }
}