.collapse {
  margin-bottom: 20px;

  &-header {
    background-color: #ff6060;
    color: white;
    padding: 15px 20px;
    font-size: 19px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;

    .arrow-icon {
      transition: transform 0.3s ease;
      height: 30px;
      width: 30px;
    }

    &.open .arrow-icon {
      transform: rotate(-180deg);
    }
  }

  &-content {
    background-color: #f7f7f7;
    padding: 20px;
    animation: fade 0.3s ease-in-out;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
