.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 120px 40px 120px;        
  background-color: #FFFF;
}

.logo img {
  height: 68px;
  width: 210px;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 57px;   
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 24px;
  font-weight: 300;
}

.nav a.active {
  text-decoration: underline;
}


