.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 45px 120px 40px 120px;
  background-color: #FFFFFF;

  .logo img {
    height: 68px;
    width: 210px;
  }

  .nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 57px;
  }

  .nav a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 300;
  }

  .nav a.active {
    text-decoration: underline;
  }

  @media screen and (max-width: 768px) {
    margin: 20px 20px 27px 20px;

    .logo img {
      width: 145px;
      height: 47px;
    }

    .nav ul {
      gap: 10px;
    }

    .nav a {
      font-size: 12px;
      font-weight: 500;
    }
  }
}
