.banner {
  width: 88%;
  height: 223px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 25px;
  margin: 0px 100px 0 115px;

  h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 500;
    font-style: bold;
  }
}
