.banner {
  width: 85%;
  height: 223px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 25px;
  margin: 0px 100px 0 115px;

  h1 {
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 700;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    width: 96%;
    height: 111px;
    margin: 0 5%;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: normal;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
  }
}
